@font-face {
    font-family: "Norse Bold";
    src: url(./Norse-Bold.otf) format("opentype");
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    height: 600px;
    width: 1000px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px blueviolet;
    display: flex;
    align-items: center;
}

.background {
    width: 300px;
    margin: 50px;
    margin-right: 4px;
    border: 5px solid black;
    box-shadow: 2px 2px 5px blueviolet;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    width: 310px;
    position: absolute;
    left: 515px;
    top: 275px;
}

.title img {
    width: 50px;
}

.title h1 {
    color: white;
    font-family: "Norse Bold", Arial, Helvetica, sans-serif;
    font-size: 35px;
}

.credit {
    position: absolute;
    bottom: 200px;
    left: 570px;
    color: white;
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

.credit a {
    color: white;
}

.top, .middle, .bottom {
    height: 215px;
    width: 636px;
    font-family: "Roboto", sans-serif;
    border-radius: 5px;
}

.top, .bottom {
    background-color: whitesmoke;
    height: 185px;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.top p {
    font-weight: bold;
    margin: 10px;
    margin-left: 25px;
}

.top p:last-child {
    margin-bottom: 35px;
}

.form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    gap: 60px;
}

h3 {
    margin: 15px; 
}

form {
    margin-left: 15px;
}

label {
    font-size: 14px;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    padding: 5px;
    padding-right: 15px;
    width: 200px;
}

input:focus {
    outline: 1px solid rgb(81, 81, 255);
    box-shadow: 0px 1px 5px 0px black;
}

input:invalid {
    outline: 1px solid red;
}

.bottom button {
    background-color: #596D48;
    color: white;
    font-weight: bold;
    margin: 25px;
    padding: 7px;
    padding-left: 30px;
    padding-right: 30px;
    border: 2px solid #596D48;
    border-radius: 5px;
}

.bottom button:active {
    background-color: #4c5a40;
}